/* Empty. Add your own CSS if you like */
.paddingContent{
	padding: 20px;
}
.content-base-value{
	color:grey;
}
.item-list-font{
	font-size: 14px;
}
.footer-design{
	margin-bottom: 5px !important;
    background: grey !important;
}
